html,body{
	margin: 0px auto;
	padding: 0px;
	background-image: url('SU.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: 100%;
}
.search{
	width: 200px;
	margin: 4px;
}
#container{
	position: relative;
	min-height: 100%;
}
#header{
	width: 100%;
	z-index: 1000;
	position: fixed;
	height: 60px;
}
nav{
	height: 53px;
	overflow: hidden;
	background-color: #80bfff;
	float: left;
	width: 100%;
	box-shadow: 0px 2px 10px black;
	opacity: 0.7; 
}
nav ul{
	display: inline;
}
nav ul li {
   display: inline-block;
      cursor: pointer;
      padding: 15px;
      transition: background-color 0.3s;
  }
nav li a {
   text-transform: uppercase;
      text-decoration: none;
      color: #ffffff;
      font-size: 20px;
      font-weight: 300;
      padding: 20px;
  }
nav > ul >li ul {
   background-color: #04863e;
      position: absolute;
      margin-top: 11px;
      z-index: -1;
      margin-left: -46px;
      border-radius: 0px 0px 15px 15px;
      text-align: center;
      width: 226px;
      padding: 4px;
      visibility: hidden;
      transition: visibility 0.3s;
  }
nav > ul >li ul> li {
   margin: 10px;
   display: inline-block;
   cursor: pointer;
  }
nav ul li:hover ul{
  visibility:visible;  
}
nav ul li:hover {
   background-color: red;
  } 
#content{
 	padding: 30px;
 }
 .text{
 	text-align: center center;
 	font-size: 60px;
 	color: red;
 }
 .isi{
 	text-align: center;
 	color: white;
 	font-family: verdana;
 	font-weight: 100px;
 	text-shadow: 1px 2px black;
 }
#footer{
	height: 80px;
	background: #80d4ff;
	color: black;
	font-family: times new roman;
	font-size: 15px;
	position: fixed;
	bottom: 0px;
	width: 100%;
	text-align: center;
}
#footer_sosmed{
	margin-bottom: 8px;
}
p{
	color: #000080;
	font-weight: 100px;
}

