body{
	font-family: times new roman;
	background-image: url('flower.jpg');
	background-attachment: fixed;
	background-repeat: no-repeat;
}
p{
	color: #994d00;
}
.formulir {
	margin: 250px auto;
	width: 400px;
	padding: 10px;
	border: 1px solid #ccc;
	background-color: #FFE4B5;
	font-style: courier new;
}
.Nama{
	box-sizing: border-box;
	width: 100%;
	padding: 10px;
	font-size: 11pt;
	margin-bottom: 20px;
}
.Nim{
	box-sizing: border-box;
	width: 100%;
	padding: 10px;
	font-size: 11pt;
	margin-bottom: 20px;
}
.Password{
	box-sizing: border-box;
	width: 100%;
	padding: 10px;
	font-size: 11pt;
	margin-bottom: 20px;
}
.Setuju{
	background: white;
	color: 	#994d00;
	font-size: 11pt;
	width: 100%;
	border: none;
	border-radius: 3px;
	padding: 10px 20px;
	font-family: Times new roman;
}
